@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Black.woff") format("woff");
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans-BoldItalic.woff") format("woff");
  font-style: italic;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSansMedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("../font/FiraSansLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {

    background-color: #E5E5E5;
    padding: 0;
    margin: 0;
    font-family: "FiraSans", sans-serif;
}

.section-wrapper {

    max-width: 1640px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

.mih-sid-btn {
    height: 44px;
    line-height: 40px;
    padding: 0 25px;
    border-radius: 20px;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    -webkit-transition: all .3s;
    transition: all .3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
  }

  .btn--black {
    background-color:#000;
    color: #fff;
  }
  
  .btn--black:hover {
    background-color: #fff;
    color: #000;
    border-color: #000;
  }

  .video-btn {

    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    margin-top: -40px;
    left: 50%;
    margin-left: -40px;
    cursor: pointer;

    &::before {

        content: '';
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 50%;
        margin-top: -13px;
        left: 50%;
        margin-left: -8px;
        background: url('../imgs/photos-block-content-video-btn-background.svg') no-repeat 0 0;
    }

    &.plaing {

      opacity: 0;
    }
  }

  .main-wrapper-title {

    font-size: 42px;
    line-height: 50px;
    font-weight: bold;
  }

  .mCSB_scrollTools {

    width: 5px;

    .mCSB_draggerContainer {

      background-color: #c8cbd0;
      border-radius: 10px;

      .mCSB_dragger {

        .mCSB_dragger_bar {

          width: 100%;
          background-color: #0D0923;
          border-radius: 10px;
          cursor: default;
        }

        .mCSB_draggerRail {

          display: none;
        }
      }
    }
  }

  @media screen and (max-width:780px) {

    .mih-sid-btn {
      height: 35px;
      line-height: 31px;
      padding: 0 20px;
    }
  
    .main-wrapper-title {

      font-size: 24px;
      line-height: 29px;
    }
  }

@import 'reviews-page';
@import 'videos-page';
@import 'actual-questions-page';
@import 'actions-page';
@import 'portfolio-page';