.reviews-block {

    position: relative;
    border-radius: 10px;
    margin-bottom: 100px;

    &::before, &::after {

        content: '';
        display: block;
        position: absolute;
        width: 50%;
        height: 100%;
        top: 0;
        left: 20px;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-image: url('../imgs/reviews-block-left-background.png');
        background-position: -100px top;
        z-index: 1;
        border-radius: 10px;
    }

    &::after {

        left: auto;
        right: 20px;
        z-index: 1;
        background-image: url('../imgs/reviews-block-right-background.png');
        background-position: calc(100% + 100px) top;
    }

    &__content {
        background-image: url('../imgs/reviews-block-main-background.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: auto 100%;
        position: relative;
        z-index: 2;
        border-radius: 10px;
        padding: 40px 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__text {

        color: #fff;

        &-title {

            font-size: 36px;
            margin-bottom: 30px;
        }

        &-desc {

            font-size: 18px;
            line-height: 22px;
            max-width: 275px;
            margin-bottom: 20px;
        }

        &-item {

            display: block;
            color: #fff;
            text-decoration: none;
            padding-left: 20px;
            background: url('../imgs/reviews-block__text-item.svg') no-repeat 0 2px;
            margin-bottom: 10px;

            &:last-child {

                margin-bottom: 0;
            }

            &-title {

                font-size: 18px;
                line-height: 22px;
            }

            &-desc {

                font-size: 14px;
                line-height: 17px;
            }
        }

        &-btns {

            display: none;
            margin-top: 40px;
        }

        &-btn {

            margin: 0;
        }
    }

    &__form {

        color: #fff;

        &-title {

            font-size: 36px;
            margin-bottom: 20px;
        }

        &-items {

            margin-bottom: 20px;
        }

        &-item {

            margin-bottom: 20px;

            &:last-child {

                margin-bottom: 0;
            }

            &_checkbox {

                line-height: 15px;
                font-size: 12px;

                label {

                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border-radius: 2px;
                    vertical-align: top;
                    margin-right: 2px;
                }
            }

            input {

                border: 0;
                border-radius: 10px;
                width: 285px;
                height: 40px;
                line-height: 40px;
                font-size: 14px;
                padding: 0 30px;
                color: #9495A0;

                &::placeholder {

                    opacity: 1;
                    color: #9495A0;
                }

                &[type="checkbox"] {

                    display: none;
                }
            }
        }

        &-btns {

            text-align: center;
        }

        &-btn {

            margin: 0;
        }
    }
}

.photos-block {

    margin-bottom: 100px;

    &__content {

        display: flex;
        align-items: flex-start;
        font-size: 0;
        margin-bottom: 50px;

        &-video {

            font-size: 0;

            &-wrapper {

                display: inline-block;
                position: relative;
                border-radius: 10px;
                overflow: hidden;

                video {

                    max-width: 100%;
                }
            }
        }

        &-text {

            font-size: 18px;
            line-height: 22px;
            color: #9495A0;
            max-width: 500px;
            padding-left: 120px;

            p {

                margin: 0;
                margin-bottom: 20px;

                &:last-child {

                    margin-bottom: 0;
                }
            }
        }
    }

    &__slider {

        margin: 0 -10px;
        position: relative;

        .slick-arrow {

            z-index: 1;
            background-color: #000;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-position: center;
            width: 30px;
            height: 30px;

            &::before {

                display: none;
            }
        }

        .slick-prev {

            left: -5px;
            background-image: url('../imgs/slider-vector-left.svg');
        }

        .slick-next {

            right: -5px;
            background-image: url('../imgs/slider-vector-right.svg');
        }

        &-slide {

            padding: 0 10px;
            font-size: 0;

            &-img {

                display: inline-block;
                border-radius: 10px;

                img {

                    display: inline-block;
                    max-width: 100%;
                    margin: 0 auto;
                }
            }
        }

        &_mobile {

            display: flex;
            overflow: auto;
            margin-left: 0;
            margin-right: 0;
            flex-shrink: 0;

            .photos-block__slider-slide {

                min-width: 250px;
                padding: 0;
                margin-right: 5px;
                display: flex;
                align-items: center;
                justify-content: center;

                &:last-child {

                    margin-right: 0;
                }
            }
        }
    }
}

.reviews-about-camerist {

    &__title {

        font-weight: bold;
        margin-bottom: 30px;
    }

    &__content {

        display: flex;
        padding-bottom: 42px;
        margin-bottom: 80px;

        &:last-child {

            margin-bottom: 0;
        }

        &-media {

            margin-right: 120px;

            &-photo {

                margin-bottom: 30px;
                max-width: 387px;

                &-img {

                    background-color: #fff;
                    border-radius: 10px;
                    margin-bottom: 20px;

                    img {

                        display: block;
                        max-width: 100%;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }

                &-title {

                    font-size: 18px;
                    font-weight: bold;
                }
            }

            &-video {

                font-size: 0;

                &-wrapper {

                    display: inline-block;
                    position: relative;
                    border-radius: 10px;
                    overflow: hidden;
                }

                video {

                    max-width: 100%;
                }
            }
        }

        &-text {

            margin-left: auto;
            display: flex;
            flex-direction: column;

            &-title {

                font-size: 24px;
                margin-bottom: 30px;
                font-weight: bold;
            }

            &-items {

                flex-grow: 1;
                display: flex;
                flex-direction: column;
            }

            &-item {

                display: flex;
                flex-grow: 1;
                margin-bottom: 20px;
                position: relative;

                &:last-child {

                    margin-bottom: 0;
                }

                &-two {

                    margin-right: 20px;
                    display: flex;
                    flex-direction: column;
                    max-width: 450px;
                    min-width: 370px;

                    .reviews-about-camerist__content-text-item-review {

                        margin-bottom: 20px;

                        &:last-child {

                            margin-bottom: 0;
                        }
                    }
                }

                &-one {

                    display: flex;
                    flex-direction: column;
                    max-width: 330px;
                    min-width: 330px;

                    .reviews-about-camerist__content-text-item-review {

                        padding-left: 10px;
                        padding-right: 10px;

                        &-photo {

                            margin-left: 0 !important;
                        }
                    }
                }

                &-review {

                    padding: 40px;
                    background-color: #fff;
                    border-radius: 10px;
                    flex-grow: 1;

                    &-photo-fio {

                        font-size: 0;
                        display: flex;
                        align-items: center;

                        .reviews-about-camerist__content-text-item-review-photo {

                            width: 50px;
                            height: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                            margin-left: 20px;
                        }

                        .reviews-about-camerist__content-text-item-review-fio {

                            font-size: 18px;
                            margin-left: 10px;
                        }
                    }

                    &-text {

                        width: 100%;
                        margin-top: 30px;
                        padding-left: 20px;
                        background: url('../imgs/reviews-about-camerist-content-text-item-review-text-img.png') no-repeat 0 0;
                        font-style: italic;
                        font-weight: bold;
                    }
                }

                &-btns {

                    position: absolute;
                    width: 100%;
                    height: 22px;
                    line-height: 22px;
                    bottom: -42px;
                    text-align: center;
                }
                
                &-btn {

                    display: inline-block;
                    font-size: 18px;
                    color: #9495A0;
                    cursor: pointer;
                }
            }
        }

        &:nth-child(odd) {

            .reviews-about-camerist__content-media {

                order: 2;
                margin-right: 0;
                margin-left: auto;
            }

            .reviews-about-camerist__content-text {

                order: 1;
                margin-left: 0;
                margin-right: 120px;
            }
        }
    }
}

.reviews {

    padding-top: 0 !important;
    padding-bottom: 0 !important;
    background: transparent !important;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;

    .swiper-slide-shadow-left, .swiper-slide-shadow-right {
        display: none;
    }

    &__slider {

        min-height: 0;
        position: relative;
        user-select: none;

        .swiper-container {

            transform: none;
            padding-top: 18px;
            padding-bottom: 5px;
            text-align: center;

            &::before {

                content: '';
                display: block;
                position: absolute;
                width: 160px;
                height: 350px;
                top: 0;
                left: 50%;
                margin-left: -78px;
                background-image: url('../imgs/reviews-page-slider-mobile-image.png');
                background-repeat: no-repeat;
                background-position: 0 0;
                background-size: 160px 350px;
                z-index: 2;
            }

            .swiper-wrapper {

                display: flex;
                align-items: center;
            }

            .swiper-slide {

                padding-left: 25px;
                width: 200px;

                .picture-responsive {

                    display: block;
                    max-width: 100%;

                    img {

                        display: block;
                        max-width: 100%;
                        border-style: none;
                    }
                }
            }

            .swiper-button-prev, .swiper-button-next {

                width: 30px !important;
                height: 30px !important;
                background-color: #000 !important;
                border-radius: 50% !important;
                background-repeat: no-repeat !important;
                background-position: center !important;
                background-image: url("../imgs/slider-vector-left.svg") !important;
                background-size: auto;
                left: 0 !important;
                position: absolute;
                display: inline-block;
            }

            .swiper-button-next {

                background-image: url("../imgs/slider-vector-right.svg") !important;
                left: auto !important;
                right: 0 !important;
            }
        }

        &::after {

            display: none;
        }
    }
}

@media screen and (max-width:1050px) {

    .reviews-about-camerist {

        &__content {

            flex-wrap: wrap;
            margin-bottom: 40px;

            &-media {

                width: 100%;
                margin-right: 0;
                order: 1 !important;
                margin-bottom: 30px;

                &-photo {

                    margin-left: auto;
                    margin-right: auto;
                }

                &-video {

                    text-align: center;
                }
            }

            &-text {

                width: 100%;
                order: 2 !important;
                margin-right: 0 !important;

                &-items {

                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

@media screen and (max-width:780px) {

    .reviews-block {

        padding-left: 0;
        padding-right: 0;
        margin-bottom: 40px;

        &::before {

            width: 100%;
            left: 0;
            background-image: url('../imgs/reviews-block-left-background-mobile.png');
            background-position: 0 0;
            border-radius: 0;
        }

        &::after {

            display: none;
        }

        &__content {

            background-image: url('../imgs/reviews-block-main-background-mobile.png');
            background-position: 100% 0;
            border-radius: 0;
            padding-left: 20px;
            padding-right: 20px;
            align-items: flex-start;
        }

        &__text {

            &-btns {

                display: block;
            }
        }

        &__form {

            display: none;
        }
    }

    .reviews {

        margin-bottom: 40px;
        padding-left: 0;
        padding-right: 0;
    }

    .photos-block {

        margin-bottom: 40px;

        &__content {

            flex-wrap: wrap;

            &-video {

                width: 100%;
                text-align: center;
            }

            &-text {

                padding-left: 0;
                margin-left: auto;
                margin-right: auto;
                margin-top: 20px;
            }
        }
    }

    .reviews-about-camerist {

        &__content {

            &-text {

                &-item {

                    flex-wrap: wrap;

                    &-two {

                        width: 100%;
                        min-width: 0;
                        max-width: none;
                        margin-right: 0;
                    }

                    &-one {

                        width: 100%;
                        min-width: 0;
                        max-width: none;
                        margin-top: 20px;
                    }

                    &-review {

                        padding: 10px !important;

                        &-photo {

                            margin-left: 0 !important;
                        }
                    }
                }
            }
        }
    }

    .reviews {
    
        &__slider {
    
            .swiper-container {
    
                .swiper-button-prev {
    
                    left: calc((100% - 180px) / 2) !important;
                }
    
                .swiper-button-next {
    
                    right: calc((100% - 183px) / 2) !important;
                }
            }
        }
    }
}